/*
 * Internal things to get the frame and app sized correctly in a
 * bs3 browser environment.
 */

.app-full-height {
    height: 100%;
}

.app-no-margin {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.app-menu-buffer {
    padding-top: 50px;
}

.app-wrapper {
    height: 100%;
}

.app-graph-container {
    overflow: auto;
    background-color: #FFEBCD;
    margin-left: 15em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    height: 100%;
}

.model-inconsistent {
    background-color: #FF0000;
}

.app-delete-mark {
    cursor: pointer;
    color: white;
    background-color: red;
}

/* When app is maximized, the navbar should behave as desktop apps. */
.bbop-bs3-override-nav-scale {
    max-width: 100%;
}

.app-graph {
    position: relative;
    /* Playing with draggable "canvas". */
    /* height: 1000px; */
    /* width: 1000px; */
    /* cursor: all-scroll; */
    /* color: blue; */
}

.app-editor-bounds {
    height: 70%;
}

.app-controls {
    background-color: #d2d8c7;
    padding: 0.25em;
    width: 15em;
    float:left;
    height:100%;
}

.app-table-bounds {
    height: 30%;
    overflow: auto;
    padding: 3px;
}

.app-table-container {
    padding: 3px;
}

/*
 * Below: things lifted from base themes and examples for jsPlumb.
 */

a, a:visited {
    text-decoration:none;
    /*color:#057D9F; */
    color:black;
    border-radius:0.2em;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in;
}

a:hover {
    color:#7AB02C;
}

a:active {
    color:#FF2300;
}

.menu, #render, #explanation {
    background-color:#fff;        
}

.menu {
    height: 15px;
    float:right;
    padding-top:1em;
    padding-bottom:0.4em;
    background-color: transparent;
    margin-right:30px;
    font-size:12px;
}


.menu a {
    margin-right: 19px;
}

.otherLibraries {
    display:inline;
}

#render a {
    margin-right:10px;
}

.selected {
    color:orange !important;
}


.window, .demo-window, .label {
    
    text-align:center;
    z-index:24;
    cursor:pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
}

path, ._jsPlumb_endpoint { cursor:pointer; }

.cmd {
    color:white;
    margin-right:25px;
}

.cmd:hover {
    color:#FF2300;
    text-decoration: underline;
}
.cmd:active {
    color:#FF2300;
}

.label {
    font-size:13px;
    padding:8px;
    padding:8px;
}

.component {
    border:1px solid #346789;
    border-radius:0.5em;
    opacity:0.8;
    filter:alpha(opacity=80);
    background-color:white;
    color:black;
    padding:0.5em;
    font-size:0.8em;
}

.component:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

/* .waypoint { */
/*     background-color:white; */
/*     border:1px solid #346789; */
/*     width: 5px; */
/*     height: 5px; */
/*     border-radius:0.5em; */
/*     position: absolute; */
/* } */

.window {
    background-color:white;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    /* width:5em; height:5em; */
    position:absolute;
    color:black;
    padding:0.5em;
    width:120px;
    height:100px;
    line-height: 80px;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.window:hover, .demo-window:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
    filter:alpha(opacity=90);
}

.window a, .demo-window a {
    font-family:helvetica;
}

.demo-window {
    background-color:white;
    border:1px solid #346789;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    /* width:5em; height:5em; */
    position:absolute;
    color:black;
    padding:0.5em;
    width:175px;
    /* min-width:150px; */
    /* max-width:150px; */
    /* height:100px; */
    /* line-height: 80px; */
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

/* connection pull location */
.konn {
    position: absolute;
    bottom: 37%;
    top: 5px;
    right: 5px;
    width: 1em;
    height: 1em;
    background-color: #558822;
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
    -webkit-transition:-webkit-box-shadow 0.25s ease-in;
    -moz-transition:-moz-box-shadow 0.25s ease-in;
    transition:box-shadow 0.25s ease-in;
}
.konn:hover {
    box-shadow: 0px 0px 6px black;
}

/* open modal location */
.open-dialog {
    position: absolute;
    bottom: 37%;
    top: 5px;
    left: 5px;
    width: 1em;
    height: 1em;
    background-color: #0066cc;
    cursor: pointer;
    box-shadow: 0px 0px 2px black;
    -webkit-transition:-webkit-box-shadow 0.25s ease-in;
    -moz-transition:-moz-box-shadow 0.25s ease-in;
    transition:box-shadow 0.25s ease-in;
}
.open-dialog:hover {
    box-shadow: 0px 0px 6px black;
}

/* /\* open modal location *\/ */
/* .open-annotation-dialog { */
/*     position: absolute; */
/*     top: 5px; */
/*     left: 1.5em; */
/*     -moz-border-radius: 10px/10px; */
/*     -webkit-border-radius: 10px 10px; */
/*     border-radius: 10px/10px;; */
/*     border:solid 7px #FF0000;  */
/*     width: 1em; */
/*     height: 1em; */
/*     /\* position: absolute; *\/ */
/*     /\* bottom: 37%; *\/ */
/*     /\* top: 5px; *\/ */
/*     /\* left: 1.5em; *\/ */
/*     /\* width: 1em; *\/ */
/*     /\* height: 1em; *\/ */
/*     /\* background-color: #00cc66; *\/ */
/*     cursor: pointer; */
/*     box-shadow: 0px 0px 2px black; */
/*     -webkit-transition:-webkit-box-shadow 0.25s ease-in; */
/*     -moz-transition:-moz-box-shadow 0.25s ease-in; */
/*     transition:box-shadow 0.25s ease-in; */
/* } */
/* .open-annotation-dialog:hover { */
/*     box-shadow: 0px 0px 6px black; */
/* } */

.demo-links, .library-links {
    position: fixed;
    right: 0;
    top: 44px;
    font-size: 11px;
    background-color: white;
    opacity: 0.8;
    padding-right: 10px;
    padding-left: 5px;
    text-transform: uppercase;
    z-index:100001;
}

.demo-links div, .library-links a {
    display:inline;
    margin-right:7px;
    margin-left:7px;
}

.demo-links i, .library-links i {
    padding:4px;
}

.bbop-mme-stack-table {
    width: 100%;
}

.bbop-mme-stack-tr {
}

.bbop-mme-stack-td {
    border: 1px solid #eeeeee;
    word-break: break-word; /* to get chrome a little nicer */ 
}

.bbop-mme-new-info {
    color: red;
}

.bbop-mme-cursor {
    position: absolute;
    top: -10px;
    left: -10px;
    -moz-border-radius: 10px/10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px/10px;;
    border:solid 3px #FF0000; 
    width:10px;
    height:10px;
    opacity: 0.5;
    z-index: 1000; /* get it above most of the riff raff */
}

.bbop-mme-message-uid {
    font-weight: bold;
}
.bbop-mme-message-op {
    font-weight: bold;
}
.bbop-mme-message-req {
    font-weight: bold;
    color: #8B0000;
}

.library-links {
    right: 454px;
    height: 19px;
    line-height: 19px;
}

.current-library {
    color:#7AB02C !important;
}

/** Z-INDEX **/

._jsPlumb_connector { z-index:18; }
._jsPlumb_endpoint { z-index:19; }
._jsPlumb_overlay { z-index:20; }
/*
  ._jsPlumb_connector._jsPlumb_hover {
  z-index:21 !important;
  }
  ._jsPlumb_endpoint._jsPlumb_hover {
  z-index:22 !important;
  }
  ._jsPlumb_overlay._jsPlumb_hover {
  z-index:23 !important;
  }
  */

.aLabel {
        -webkit-transition: background-color 0.17s ease-in;
        -moz-transition: background-color 0.17s ease-in;
        transition: background-color 0.17s ease-in;
}
.aLabel._jsPlumb_hover, ._jsPlumb_source_hover, ._jsPlumb_target_hover {
        background-color: #999999;
        /*color:white;*/
}
.aLabel {
        background-color: white;
        opacity: 0.8;
        padding: 0.3em;                                
        border-radius: 0.5em;
        border: 1px solid #346789;
        cursor: pointer;
}

.drag-drop-demo .window {
    font-family: serif;
    font-style: italic;
    padding-top: 5px;
    line-height: 13px;
}

.drag-drop-demo a, .drag-drop-demo a:visited {
    color: #057D9F;
}

.drag-drop-demo a:hover {
    color: orange;
}

.drag-locked {
    border:1px solid red;
}
.cmdLink {
    font-size:0.80em;
}

.dragActive {
    border:2px dotted orange;
}
.dropHover {
    border:1px dotted red;
}
