.noctua_tab_wrapper {
    margin: 0;
    padding: 0;
}


table#model-golr-selection {
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

table#model-golr-selection thead tr th,
table#model-golr-selection tbody tr td {
  word-break:break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

table#model-selection thead tr th,
table#model-selection tbody tr td {
  word-break:break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


div.dataTables_length#model-golr-selection_length {
  margin-left:10px;
}

div.dataTables_filter#model-golr-selection_filter {
  margin-right:10px;
}

div.dataTables_info#model-golr-selection_info {
  margin-left:10px;
}


