.noctua_tab_wrapper {
    margin: 0;
    padding: 0;
}


table#model-golr-selection {
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

table#model-golr-selection thead tr th,
table#model-golr-selection tbody tr td {
  word-break:break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

table#model-selection thead tr th,
table#model-selection tbody tr td {
  word-break:break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}


div.dataTables_length#model-golr-selection_length {
  margin-left:10px;
}

div.dataTables_filter#model-golr-selection_filter {
  margin-right:10px;
}

div.dataTables_info#model-golr-selection_info {
  margin-left:10px;
}


.loader {
  background-color: white;
  position: fixed;
  left: 90.8%;
  top: 90%;
  border: 18px solid #2f2f2f;; /* Light grey */
  border-top: 18px solid #3498db; /* Blue */
  border-bottom: 18px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 3s linear infinite;
  z-index: 100;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#dimmer
{
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:99; /* may not be necessary */
}
