<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>CytoView for {{model_id}}</h3>
  </div>

  <!-- Cytoscape graph view. -->
  <div>
    <p>
      <select id="layout_selection" class="form-control">
	<option value="cose">
	  cose
	</option>
	<option value="random">
	  random
	</option>
	<option value="circle">
	  circle
	</option>
	<option value="breadthfirst">
	  breadthfirst
	</option>
      </select>
      <select id="fold_selection" class="form-control">
	<option value="exploded">
	  exploded
	</option>
	<option value="evidence">
	  evidence fold
	</option>
	<option value="editor">
	  editor fold
	</option>
      </select>
    </p>
  </div>
  <div id="cytoview"
       width="100%" height="750px"
       style="border: 1px black solid; width:100%; height:750px;">
    Loading...
  </div>

  <!-- Container. -->
</div>
