<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>CytoView for {{model_id}}</h3>
  </div>

  <!-- Cytoscape graph view. -->
  <div class="form-inline">
    <div class="form-group">
      <label for="layout_selection">Layout</label>
      <select id="layout_selection" class="form-control col-sm-6">
	<option value="cose" selected="selected">
	  cose
	</option>
	<option value="random">
	  random
	</option>
	<option value="circle">
	  circle
	</option>
	<option value="breadthfirst">
	  breadthfirst
	</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fold_selection">Fold</label>
      <select id="fold_selection" class="form-control col-sm-6">
	<option value="exploded">
	  exploded
	</option>
	<option value="evidence" selected="selected">
	  evidence fold
	</option>
	<option value="editor">
	  editor fold
	</option>
      </select>
    </div>
  </div>

  <div id="cytoview"
       width="100%" height="750px"
       style="border: 1px black solid; width:100%; height:750px; margin-top:5px;">
    Loading...
  </div>

  <!-- Container. -->
</div>
