<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>Gosling (Noctua's little GOOSE)</h3>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      
      <div>
	Select and enjoy.
      </div>

      <!-- Grrrr... Want a mechanical gap. -->
      <div>&nbsp;</div>
      <br />
      
      <div>
	<select id="spqlsel" class="form-control">
	</select>
      </div>
      
      <div id="yasqe"></div>
      <div id="yasr"></div>
      
    </div>
  </div>
  
  <!-- Container. -->
</div>
