<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>GP Buddy for {{model_id}} on {{individual_id}}</h3>
  </div>

  <div>
    <p>
      Welcome to the Gene Product Buddy workbench. Please make sure
      that you are <strong>logged in</strong>.
    </p>
    <p>
      This tool is a work in progress. Currently, it will allow you to
      add cellular component/gene product associations (occurs_in)
      already found in AmiGO to an annoton in a model, replacing the
      current one, if there.
    </p>
    <p>
      This tool will expand to more use cases in the future.
      For a detailed description and discussion, see:
      <a href="https://github.com/geneontology/noctua/issues/224">the ticket</a>.
    </p>
  </div>
  
  <hr />

  <div id="spinner-vapp">
    <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
  </div>

  <!-- AmiGO widgets. -->
  <div class="panel panel-default">
    <div class="panel-body">
      
      <div id="results-area" class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	  <div>
	    <h4>Filter results</h4>
	    
	    <div id="input-filter-accordion">
	      Loading...
	    </div>
	    
	  </div>	  
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	  
	  <div id="pager">
	  </div>
	  <div id="results">
	    pending...
	  </div>
	</div>
	
      </div>
      
    </div>
  </div>
  
  <!-- Container. -->
</div>
