<!-- Main "app". -->
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Annotation Preview for {{model_id}}</h3>
    </div>
    
    <div class="panel-body" style="padding:10px 0 10px 0; margin: 1em;">

      <p>
	This workbench does not automatically update. Please close
	window when done.
      </p>
      
    <table id="ann-tbl" class="table table-striped"
           width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Object</th>
          <th>Qualifier</th>
          <th>GO&nbsp;Term</th>
          <th>DB&nbsp;Ref</th>
          <th>Evidence</th>
          <th>With/From</th>
          <th>Taxon</th>
          <th>Date</th>
          <th>Assigned&nbsp;By</th>
          <th>Ann.&nbsp;Exts.</th>
          <th>Ann.&nbsp;Props.</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Object</th>
          <th>Qualifier</th>
          <th>GO&nbsp;Term</th>
          <th>DB&nbsp;Ref</th>
          <th>Evidence</th>
          <th>With/From</th>
          <th>Taxon</th>
          <th>Date</th>
          <th>Assigned&nbsp;By</th>
          <th>Ann.&nbsp;Exts.</th>
          <th>Ann.&nbsp;Props.</th>
        </tr>
      </tfoot>
      <tbody id="tbl"></tbody>
    </table>
  </div>

  </div>

  <!-- Container. -->
</div>
