<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>Macromolecular complex creator for {{model_id}}</h3>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">1: Enter desired bioentities</h3>
    </div>

    <div class="panel-body">
      
      <p>
	Input and select one or more gene products before going on to
	"2".
      </p>

      <p><input id="select-bio" type="text"></input></p>

    </div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">2: Accept default protein complex or choose another</h3>
    </div>

    <div class="panel-body">
      
      <p>
	Either accept the default "protein complex" and move on to
	"3", or delete and select another protein complex.
      </p>

      <p><input id="select-term" value="protein complex"></input></p>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      
      <button id="submit" class="btn btn-primary">3: Submit</button>

    </div>
  </div>

  <!-- Container. -->
</div>
