<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>CytoView for {{model_id}}</h3>
  </div>

  <!-- Cytoscape graph view. -->
  <div class="form-inline">
    <div class="form-group">
      <label for="layout_selection">Layout</label>
      <select id="layout_selection" class="form-control col-sm-6">
	<option value="noctuadef" selected="selected">
	  noctua default
	<option value="breadthfirst">
	  naive breadthfirst
	</option>
	<option value="cose">
	  force 
	</option>
	<!-- <option value="circle"> -->
	<!--   circle -->
	<!-- </option> -->
	<option value="random">
	  random
	</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fold_selection">Fold</label>
      <select id="fold_selection" class="form-control col-sm-6">
	<option value="editor" selected="selected">
	  editor fold
	</option>
	<option value="evidence">
	  evidence fold
	</option>
	<option value="exploded">
	  exploded
	</option>
      </select>
    </div>

    <!-- <div class="form-group"> -->
    <!--   <label for="button">Fold</label> -->
      <button id="button"
	      class="btn btn-primary"
	      style="margin-top: 1.8em;"
	      type="button">Set layout</button>
    <!-- </div> -->

  </div>

  <div id="cytoview"
       width="100%" height="700px"
       style="border: 1px black solid; width:100%; height:700px; background-color: #ffebcd; margin-top:5px;">
    Loading...
  </div>

  <!-- Container. -->
</div>
