<!-- Main "app". -->
<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Explanations Preview for <span id="page-title">{{model_id}}</span></h3>
    </div>
    
    <div class="panel-body" style="padding:10px 0 10px 0; margin: 1em;">

      <p>
	This workbench will automatically update on changes.
      </p>
      
    <table id="ann-tbl" class="table table-striped"
           width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Predicate</th>
          <th>Object</th>
          <th>Explanation</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Subject</th>
          <th>Predicate</th>
          <th>Object</th>
          <th>Explanation</th>
        </tr>
      </tfoot>
      <tbody id="tbl"></tbody>
    </table>
  </div>

  </div>

  <!-- Container. -->
</div>
