<div id="main_exp" class="container" style="height:99%;">
  
  <div style="height:70%;">
    
    <div style="background-color: #d2d8c7; padding: 0.25em; width: 15em; float:left; height:100%;">

      <p>
	<button id="zoomin"
		type="button"
		class="btn btn-primary">-25%</button>
	<button id="zoomret"
		type="button"
		class="btn btn-primary">100%</button>
	<button id="zoomout"
		type="button"
		class="btn btn-primary">+25%</button>
      </p>
      
      <p>Form</p>
      <p>
	<input type="text" class="form-control" id="b_auto"
	       placeholder="bioentity">
      </p>
      <p>
	<input type="text" class="form-control" id="mf_auto"
	       placeholder="molecular function">
      </p>
      <p>
	<button id="adder"
		type="button"
		class="btn btn-primary">Add</button>
      </p>
    </div>
    
    <div id="main_exp_graph_container" style="overflow:auto; background-color: #FFEBCD; margin-left: 15em; padding-top:0.25em; padding-bottom:0.25em; height:100%;">
      <div id="main_exp_graph" style="position:relative;"></div>
    </div>
    
  </div>
  
  <div style="clear: both;"></div> <!-- Clear the float -->
  
  <div id="main_exp_table"style="height: 30%; overflow:auto;"></div>
  
</div>
