<!-- Nav. -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container bbop-bs3-override-nav-scale">

    <!-- Button on collapse. -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <!-- <span class="navbar-brand">MME Editor</span> -->
      <a href="/" class="navbar-brand">MME Editor</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	
	<!-- Zoom/view controls. -->
	<li class="dropdown">
          <a href="#" class="dropdown-toggle"
	     data-toggle="dropdown">View <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="zoomout"
		   href="#">Zoom out (-25%)</a></li>
            <li><a id="zoomin"
		   href="#">Zoom in (+25%)</a></li>
            <li class="divider"></li>
            <li><a id="zoomret"
		   href="#">Reset zoom (100%)</a></li>
          </ul>
	</li>

	<!-- Actions ?! -->
	<li class="dropdown">
          <a href="#" class="dropdown-toggle"
	     data-toggle="dropdown">Actions <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a id="action_refresh"
		   href="">Refresh</a></li>
            <li><a id="action_save"
		   href="#">Save</a></li>
          </ul>
	</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

	<!-- Help. -->
        <li>
	  <a id="action_help"
	     href="#"
	     title="">Help</a>
	</li>
      </ul>
	
    </div>
  </div>
</div>

<!-- Main app framing. -->
<div id="main_exp" class="app-wrapper">
  
  <div class="app-editor-bounds">
    
    <div class="app-controls">

      <div class="panel-group" id="control_accordion">

	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#control_accordion" href="#collapseOne">
		Add function
              </a>
	    </h4>
	  </div>
	  <div id="collapseOne" class="panel-collapse collapse in">
	    <div class="panel-body">
	      
	      <p>
		<input type="text" class="form-control" id="bio_auto_local"
		       placeholder="enabled by">
	      </p>
	      <p>
		<input type="text" class="form-control" id="mfn_auto_local"
		       placeholder="molecular function">
	      </p>
	      <p>
		<input type="text" class="form-control" id="loc_auto_local"
		       placeholder="occurs in">
	      </p>
	      <p>
		<button id="adder_local"
			type="button"
			class="btn btn-primary">Add</button>
	      </p>

	    </div>
	    
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#control_accordion" href="#collapseTwo">
		Add process
              </a>
	    </h4>
	  </div>
	  <div id="collapseTwo" class="panel-collapse collapse">
	    <div class="panel-body">

	      <p>
		<input type="text" class="form-control" id="bio_auto_remote"
		       placeholder="enabled by">
	      </p>
	      <p>
		<input type="text" class="form-control" id="bpn_auto_remote"
		       placeholder="biological process">
	      </p>
	      <p>
		<input type="text" class="form-control" id="loc_auto_remote"
		       placeholder="occurs in">
	      </p>
	      <p>
		<button id="adder_remote"
			type="button"
			class="btn btn-primary">Add</button>
	      </p>

	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <div id="main_exp_graph_container" class="app-graph-container">
      <div id="main_exp_graph" class="app-graph"></div>
    </div>
    
  </div>
  
  <div style="clear: both;"></div> <!-- Clear the float. -->
  
  <div class="app-table-bounds">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#main_exp_table" data-toggle="tab">Table</a></li>
      <li><a href="#empty_area" data-toggle="tab">Empty</a></li>
    </ul>

    <div class="tab-content">
      <div id="main_exp_table" class="tab-pane active"></div>
      <div id="empty_area" class="tab-pane">EMPTY</div>
    </div>

  </div>

</div>

<!-- Node modal: invisible until it's not modal dialog. -->
<div id="modal_node_dialog"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal_node_dialog_title"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
		class="close"
		data-dismiss="modal"
		aria-hidden="true">&times;</button>
        <h4 id="modal_node_dialog_title"
	    class="modal-title">???</h4>
      </div>
      <div id="modal_node_dialog_body" 
	   class="modal-body">
        ???
      </div>
      <div class="modal-footer">
        <button type="button"
		class="btn btn-default"
		data-dismiss="modal">Close</button>
        <button id=""
	   type="button"
		class="btn btn-primary">Do nothing</button>
      </div>
    </div>
  </div>
</div>

<!-- Edge modal: invisible until it's not modal dialog. -->
<div id="modal_edge_dialog"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal_edge_dialog_title"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
		class="close"
		data-dismiss="modal"
		aria-hidden="true">&times;</button>
        <h4 id="modal_edge_dialog_title"
	    class="modal-title">???</h4>
      </div>
      <div id="modal_edge_dialog_body" 
	   class="modal-body">
        ???
      </div>
      <div class="modal-footer">
        <button type="button"
		class="btn btn-default"
		data-dismiss="modal">Close</button>
        <button id="modal_edge_dialog_save"
		type="button"
		class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Blocking modal: invisible until it's not modal input blocker. -->
<div id="modal_blocking"
     class="modal"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="modal_blocking_title"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" -->
	<!-- 	class="close" -->
	<!-- 	data-dismiss="modal" -->
	<!-- 	aria-hidden="true">&times;</button> -->
        <h4 id="modal_blocking_title"
	    class="modal-title">Relax</h4>
      </div>
      <div id="modal_blocking_body" 
	   class="modal-body">
	<p>
        Doing remote processing. This may take a minute...
	</p>
	<div class="progress progress-striped active">
	  <div class="progress-bar"
	       role="progressbar"
	       aria-valuenow="100"
	       aria-valuemin="0"
	       aria-valuemax="100"
	       style="width: 100%">
	    <span class="sr-only">Working...</span>
	  </div>
	</div>
      </div>
      <!-- <div class="modal-footer"> -->
      <!--   <button type="button" -->
      <!-- 		class="btn btn-default" -->
      <!-- 		data-dismiss="modal">Close</button> -->
      <!--   <button id="modal_edge_dialog_save" -->
      <!-- 		type="button" -->
      <!-- 		class="btn btn-primary">Save</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- Invisible submission/action form. -->
<form id="invisible_action"
      action="/action/export"
      target="_blank"
      method="post">
  <input type="hidden" id="invisible_action_data" name="model_id" value="?" />
</form>
