<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>GO-EXP</title>

    <link rel="stylesheet" type="text/css" href="/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" type="text/css" href="/bbop.css">
    <link rel="stylesheet" type="text/css" href="/amigo.css">
    <link rel="stylesheet" type="text/css" href="/App.css">

    <!-- JS variables. -->
    {{#js_variables}}
    <script type="text/javascript">var {{name}} = {{{value}}};</script>
    {{/js_variables}}

    <script type="text/javascript" src="/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <script type="text/javascript" src="/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="/jquery.jsPlumb-1.5.5.js"></script>
    <script type="text/javascript" src="/bbop.js"></script>
    <script type="text/javascript" src="/amigo2.js"></script>
    <script type="text/javascript" src="/App.js"></script>
  </head>
  <body>
    {{{body_content}}}
    <div id="main" style="position: relative;">
    </div>
  </body>
</html>
