<div class="container">
  
  <div class="header text-center">
    <h2>go-mme</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Examples (server model)</h3>
    </div>
    <div class="panel-body">
      
      <p>
	<a class="btn btn-primary"
	   href="/seed/null">/seed/null &raquo;</a>
      </p>

      <p>
	<a class="btn btn-primary"
	   href="/seed/model/gomodel:wb-GO_0043053">/seed/model/gomodel:wb-GO_0043053 &raquo;</a>
      </p>
      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Load JOWL</h3>
    </div>
    <div class="panel-body">
      
      <form method="post" action="/action/load" role="form">
	
	<p>
	  <textarea class="form-control"
		    name="model_data"
		    placeholder="TODO"
		    rows="3"></textarea>
	</p>
	
	<p>
	  <button type="submit" class="btn btn-primary">Load</button>
	</p>
      </form>
      
    </div>
  </div>

</div>
