<div class="container">
  <p>
    Try URLs like:
    <br />
    <a style="color: blue;"
       href="/seed/null">/seed/null</a>
    <br />
    <a style="color: blue;"
       href="/seed/complex_annotation/textbook_glycolysis-mouse">/seed/complex_annotation/textbook_glycolysis-mouse</a>
  </p>
</div>
