<div class="container">
  
  <div class="header text-center">
    <h2>go-mme</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Examples</h3>
    </div>
    <div class="panel-body">
      
      <p>
	<a class="btn btn-primary"
	   href="/seed/null">/seed/null &raquo;</a>
      </p>
      <p>
	<a class="btn btn-primary"
	   href="/seed/complex_annotation/textbook_glycolysis-mouse">/seed/complex_annotation/textbook_glycolysis-mouse &raquo;</a>
      </p>
      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Load</h3>
    </div>
    <div class="panel-body">
      
      <form method="post" action="/action/load" role="form">
	
	<p>
	  <textarea class="form-control"
		    name="graph_data"
		    placeholder="{&quot;nodes&quot;:[{&quot;id&quot;:&quot;http://purl.obolibrary.org/obo/GLY_TEST_000..."
		    rows="3"></textarea>
	</p>
	
	<p>
	  <button type="submit" class="btn btn-primary">Load</button>
	</p>
      </form>
      
    </div>
  </div>

</div>
