<div class="container">
  
  <div class="header text-center">
    <h2>User Information/Status</h2>
  </div>

  <!-- Barista user operations. -->
  {{#show_admin_p}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Administration controls</h3>
    </div>

    <div class="panel-body">

      <p>
	<a href="{{barista_user_reset}}"
           class="btn btn-warning"
           type="button">User reset</a>
	<a href="{{barista_user_refresh}}"
           class="btn btn-success"
           type="button">User refresh</a>
      </p>

    </div>
  </div>
  {{/show_admin_p}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current status</h3>
    </div>

    <div class="panel-body">

      <!-- Status of barista. -->
      {{#barista_sessions_p}}
      <script type="text/javascript">
	jQuery(document).ready(function(){
	     jQuery('#user-table').DataTable({autoWidth: true, "order": [[1, "desc"], [2, "asc"]]});
	});
      </script>
      <table id="user-table"
	     class="table table-striped table-bordered table-hover">
	<thead>
	  <tr>
	    <th>color</th>
	    <th>name</th>
	    <th>uri</th>
	    {{#show_editor_p}}
	    <th>last</th>
	    <th>email</th>
	    <th>groups</th>
	    {{#show_admin_p}}
	    <th>accounts</th>
	    <th>type</th>
	    <th>token</th>
	    {{/show_admin_p}}
	    {{/show_editor_p}}
	  </tr>
	</thead>
	<tbody>
	  {{#barista_sessions}}
	  <tr>
	    
	    <td><span style="color: {{color}};">&#x2b24;</span> {{color}}</td>
	    <td>{{nickname}}</td>
	    <td><a href="{{uri}}">{{uri}}</a></td>
	    {{#show_editor_p}}
	    <td>{{_last_op}}</td>
	    <td>{{email-md5}}</td>
	    <td>
	    {{#groups}}
	    <a href="{{id}}">{{label}}</a></br>
	    {{/groups}}
	    </td>
	    {{#show_admin_p}}
	    <td>
	    {{#accounts}}
	    {{#github}}
	    GitHub:&nbsp;<a href="http://github.com/{{github}}">{{github}}</a><br/>
	    {{/github}}
	    {{#google-plus}}
	    Google+:&nbsp;<a href="http://plus.google.com/{{google-plus}}">{{google-plus}}</a><br/>
	    {{/google-plus}}
	    {{#orcid}}
	    ORCID:&nbsp;<a href="http://orcid.org/{{orcid}}">{{orcid}}</a><br/>
	    {{/orcid}}
	    {{/accounts}}
	    </td>
	    <td>{{user-type}}</td>
	    <td>{{token}}</td>
	    {{/show_admin_p}}
	    {{/show_editor_p}}

	  </tr>
	  {{/barista_sessions}}
	</tbody>
      </table>
      {{/barista_sessions_p}}
      {{^barista_sessions_p}}
      <p>
	<strong>No sessions found</strong>
      </p>
      {{/barista_sessions_p}}
      
    </div>
  </div>

</div>
