<div class="container">
  
  <div class="header text-center">
    <h2>Logout</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current status</h3>
    </div>

    <div class="panel-body">

      <p>
	This page/service does two things:
	<ol>
	  <li>
	    If you have a barista_token argument, it will remove that token
	    from Barista if it exists (token).
	  </li>
	  <li>
	    It will end your Persona login session (cookie).
	  </li>
	</ol>
      </p>

      <!-- Status of barista token. -->
      <p>
	{{#in_token}}
	You have token <strong>{{in_token}}</strong>.
	{{#barista_token}}
	<strong>Destroyed</strong> confirmed session.
	{{/barista_token}}
	{{^barista_token}}
	However, it is <strong>unknown</strong>. No action will be taken on it.
	{{/barista_token}}
	{{/in_token}}
	{{^in_token}}
	You have no incoming token.
	{{/in_token}}
      </p>
      <p class="show">
	<div class="progress progress-striped active" id="verify-process">
	  <div class="progress-bar"  role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
	    <span class="sr-only">Working...</span>
	  </div>
	</div>
	<div id="logged-out-success" class="hidden">
	  <p>
	    Your Persona cookie is now gone, or you never had one. You
	    can get a <a href="/login">fresh token here</a>.
	  </p>
	  {{#return}}
	  <p id="return-trip">
	  </p>
	  {{/return}}
	</div>
      </p>

    </div>
  </div>

</div>
