<div class="container">
  
  <div class="header text-center">
    <h2>User Information/Status</h2>
  </div>

  <!-- Barista user operations. -->
  {{#show_admin_p}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Administration controls</h3>
    </div>

    <div class="panel-body">

      <p>
	<a href="{{barista_user_reset}}"
           class="btn btn-warning"
           type="button">User reset</a>
	<a href="{{barista_user_refresh}}"
           class="btn btn-success"
           type="button">User refresh</a>
      </p>

    </div>
  </div>
  {{/show_admin_p}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current status</h3>
    </div>

    <div class="panel-body">

      <!-- Status of barista. -->
      {{#barista_sessions_p}}
      <table class="table table-striped table-bordered table-hover">
	<thead>
	  <tr>
	    <td>color</td>
	    <td>name</td>
	    <td>uri</td>
	    {{#show_editor_p}}
	    <td>last</td>
	    <td>email</td>
	    {{#show_admin_p}}
	    <td>type</td>
	    <td>token</td>
	    {{/show_admin_p}}
	    {{/show_editor_p}}
	  </tr>
	</thead>
	<tbody>
	  {{#barista_sessions}}
	  <tr>
	    
	    <td><span style="color: {{color}};">&#x2b24;</span> {{color}}</td>
	    <td><strong>{{nickname}}</strong></td>
	    <td>{{uri}}</td>
	    {{#show_editor_p}}
	    <td>{{_last_op}}</td>
	    <td>{{email-md5}}</td>
	    {{#show_admin_p}}
	    <td>{{user-type}}</td>
	    <td>{{token}}</td>
	    {{/show_admin_p}}
	    {{/show_editor_p}}

	  </tr>
	  {{/barista_sessions}}
	</tbody>
      </table>
      {{/barista_sessions_p}}
      {{^barista_sessions_p}}
      <p>
	<strong>No sessions found</strong>
      </p>
      {{/barista_sessions_p}}
      
    </div>
  </div>

</div>
