<div class="container">
  
  <div class="header text-center">
    <h2>[Your Ad Here]</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic Interface</h3>
    </div>
    <div class="panel-body">
      
      <div class="form-group">
	<label for="basic_gp_input">Gene product</label>
	<input id="basic_gp_input"
	       class="form-control"
	       type="text"
	       placeholder="???">
      </div>

      <div class="form-group">
	<label for="basic_qualifier_input">Qualifier (optional)</label>
	<input id="basic_qualifier_input"
	       class="form-control"
	       type="text"
	       placeholder="">
      </div>

      <div class="form-group">
	<label for="basic_term_input">Term</label>
	<input id="basic_term_input"
	       class="form-control"
	       type="text"
	       placeholder="GO:0022008">
      </div>

      <div class="form-group">
	<label for="basic_evidence_input">Evidence</label>
	<input id="basic_evidence_input"
	       class="form-control"
	       type="text"
	       placeholder="???">
      </div>

      <div class="form-group">
	<label for="basic_reference_input">Reference</label>
	<input id="basic_reference_input"
	       class="form-control"
	       type="text"
	       placeholder="???">
      </div>

      <div class="form-group">
	<label for="basic_with_input">With (optional)</label>
	<input id="basic_with_input"
	       class="form-control"
	       type="text"
	       placeholder="">
      </div>

      <button id="select_stored_jump_button"
	      type="submit"
	      class="btn btn-primary">Input</button>
      
    </div>
  </div>

</div>
