<div class="container">
  
  <div class="header text-center">
    <h2>go-mme</h2>
  </div>

  <!-- <div class="panel panel-default"> -->
  <!--   <div class="panel-heading"> -->
  <!--     <h3 class="panel-title">Static Examples</h3> -->
  <!--   </div> -->
  <!--   <div class="panel-body"> -->
      
  <!--     <p> -->
  <!-- 	<a class="btn btn-primary" -->
  <!-- 	   href="/seed/null">/seed/null &raquo;</a> -->
  <!--     </p> -->

  <!--     <p> -->
  <!-- 	<a class="btn btn-primary" -->
  <!-- 	   href="/seed/model/gomodel:wb-GO_0043053">/seed/model/gomodel:wb-GO_0043053 &raquo;</a> -->
  <!--     </p> -->
      
  <!--   </div> -->
  <!-- </div> -->

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current State</h3>
    </div>
    <div class="panel-body">
      
      <div class="form-group">
	<label for="select_jump">Select model</label>
	<select id="select_jump" class="form-control">
          <option>TODO</option>
	</select>
      </div>
      
      <button id="select_jump_button"
	      type="submit"
	      class="btn btn-primary">Jump &raquo;</button>
      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Wizard</h3>
    </div>
    <div class="panel-body">
      
      <h5>Generate from class and db</h5>

      <p>
	<input type="text" class="form-control" id="auto_wizard_term"
	       placeholder="GO term">
      </p>
      <p>
	<input type="text" class="form-control" id="auto_wizard_spdb"
	       placeholder="species database code">
      </p>
      <p>
	<button id="auto_wizard_button_generate"
		type="button"
		class="btn btn-primary">Generate &raquo;</button>
      </p>
      
      <hr />

      <h5>Generate from db</h5>
      <p>
	<input type="text" class="form-control" id="auto_blank_spdb"
	       placeholder="species database code">
      </p>
      <p>
	<button id="auto_blank_button_generate"
		type="button"
		class="btn btn-primary">Generate &raquo;</button>
      </p>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Load JOWL (TODO)</h3>
    </div>
    <div class="panel-body">
      
      <form method="post" action="/action/load" role="form">
	
	<p>
	  <textarea class="form-control"
		    name="model_data"
		    placeholder="TODO"
		    rows="3"></textarea>
	</p>
	
	<p>
	  <button id="model_data_button"
		  type="submit"
		  class="btn btn-primary">Load</button>
	</p>
      </form>
      
    </div>
  </div>

</div>

<!-- Blocking modal: invisible until it's not modal input blocker. -->
<div id="modal_blocking"
     class="modal"
     tabindex="-1"
     role="dialog"
     data-backdrop="static"
     data-keyboard="false"
     aria-labelledby="modal_blocking_title"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" -->
	<!-- 	class="close" -->
	<!-- 	data-dismiss="modal" -->
	<!-- 	aria-hidden="true">&times;</button> -->
        <h4 id="modal_blocking_title"
	    class="modal-title">Relax</h4>
      </div>
      <div id="modal_blocking_body" 
	   class="modal-body">
	<p>
        Doing remote processing. This may take a minute...
	</p>
	<div class="progress progress-striped active">
	  <div class="progress-bar"
	       role="progressbar"
	       aria-valuenow="100"
	       aria-valuemin="0"
	       aria-valuemax="100"
	       style="width: 100%">
	    <span class="sr-only">Working...</span>
	  </div>
	</div>
      </div>
      <!-- <div class="modal-footer"> -->
      <!--   <button type="button" -->
      <!-- 		class="btn btn-default" -->
      <!-- 		data-dismiss="modal">Close</button> -->
      <!--   <button id="modal_edge_dialog_save" -->
      <!-- 		type="button" -->
      <!-- 		class="btn btn-primary">Save</button> -->
      <!-- </div> -->
    </div>
  </div>
</div>
