<div class="container">
  
  <div class="header text-center">
    <h2>Noctua</h2>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current State</h3>
    </div>
    <div class="panel-body">
      
      <div class="form-group">
	<label for="select_stored_jump">Usable</label>
	<select id="select_stored_jump" class="form-control">
          <option>n/a</option>
	</select>
      </div>
      <button id="select_stored_jump_button"
	      type="submit"
	      class="btn btn-primary">Jump &raquo;</button>
      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Wizard</h3>
    </div>
    <div class="panel-body">
      
      <h5>Generate from class and db</h5>

      <p>
	<input type="text" class="form-control" id="auto_wizard_term"
	       placeholder="GO term">
      </p>
      <p>
	<input type="text" class="form-control" id="auto_wizard_spdb"
	       placeholder="species database code">
      </p>
      <p>
	<button id="auto_wizard_button_generate"
		type="button"
		class="btn btn-primary">Generate &raquo;</button>
      </p>
      
      <hr />

      <h5>Generate new from db</h5>
      <p>
	<input type="text" class="form-control" id="auto_blank_spdb"
	       placeholder="species database code">
      </p>
      <p>
	<button id="auto_blank_button_generate"
		type="button"
		class="btn btn-primary">Generate &raquo;</button>
      </p>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Load ???</h3>
    </div>
    <div class="panel-body">
      
      <!-- <form method="post" action="/action/load" role="form"> -->	
      <!-- name="model_data" -->
      <p>
	<textarea class="form-control"
		  id="model_data_input"
		  placeholder="???"
		  rows="3"></textarea>
      </p>
      
      <p>
	<button id="model_data_button"
		type="submit"
		class="btn btn-primary">Load</button>
      </p>
      <!-- </form> -->
      
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic Interface</h3>
    </div>
    <div class="panel-body">
      
      <p>
	A basic interface can be found <a href="/basic">here</a>.
      </p>
      
    </div>
  </div>

</div>
