<div style="margin:2.5em;" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}}</h3>
  </div>
  <div class="panel-body">
    {{&content_insert}}
  </div>
</div>
