<!-- Nav. -->
<!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
<div class="navbar navbar-inverse">
  <div class="container bbop-bs3-override-nav-scale">

    <!-- Button on collapse. -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- <span class="navbar-brand">MME Editor</span> -->
      <a href="{{noctua_landing}}" class="navbar-brand">Noctua Preview</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <!-- Help. -->
        <!-- <p class="navbar-text"> -->
        <li>
          <a id="action_help" class="navbar-link"
	     href="https://github.com/geneontology/noctua" title="">Help</a>
        </li>
        <!-- </p> -->

      </ul>

      <div class="nav navbar-right">

        {{^barista_token}}
        <!-- Login. -->
        <a id="action_barista_login" class="btn btn-default navbar-btn" href="{{barista_login}}" title="">Login</a> {{/barista_token}} {{#barista_token}}
        <!-- Logout. -->
        <p id="user_name_info" class="navbar-text">???</p>
        <a id="action_barista_logout" class="btn btn-default navbar-btn" href="{{barista_logout}}" title="">Logout</a> {{/barista_token}}

      </div>

    </div>

  </div>
</div>

<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>CytoView for {{model_id}}</h3>
  </div>

  <!-- Cytoscape graph view. -->
  <div id="cytoview"
       width="100%" height="750px"
       style="border: 1px black solid; width:100%; height:750px;">
    Loading...
  </div>

  <!-- Container. -->
</div>
