<!-- Nav. -->
<!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
<div class="navbar navbar-inverse">
  <div class="container bbop-bs3-override-nav-scale">

    <!-- Button on collapse. -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- <span class="navbar-brand">MME Editor</span> -->
      <a href="{{noctua_landing}}" class="navbar-brand">Noctua Preview</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">

        <!-- Help. -->
        <!-- <p class="navbar-text"> -->
        <li>
          <a id="action_help" class="navbar-link"
	     href="https://github.com/geneontology/noctua" title="">Help</a>
        </li>
        <!-- </p> -->

      </ul>

      <div class="nav navbar-right">

        {{^barista_token}}
        <!-- Login. -->
        <a id="action_barista_login" class="btn btn-default navbar-btn" href="{{barista_login}}" title="">Login</a> {{/barista_token}} {{#barista_token}}
        <!-- Logout. -->
        <p id="user_name_info" class="navbar-text">???</p>
        <a id="action_barista_logout" class="btn btn-default navbar-btn" href="{{barista_logout}}" title="">Logout</a> {{/barista_token}}

      </div>

    </div>

  </div>
</div>

<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h2>Noctua</h2>
  </div>

  <!-- Tab tabs. -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#overview" role="tab" data-toggle="tab">Overview</a>
    </li>
    <li><a href="#create" role="tab" data-toggle="tab">Create</a></li>
    <li><a href="#select" role="tab" data-toggle="tab">Edit</a></li>
    <li><a href="#export" role="tab" data-toggle="tab">Export</a></li>
    <li><a href="#import" role="tab" data-toggle="tab">Import</a></li>
    <li><a href="#workbenches" role="tab" data-toggle="tab">Workbenches</a></li>
    <li><a href="#about" role="tab" data-toggle="tab">About</a></li>
    <li>
      <a href="#danger" role="tab" data-toggle="tab">
        <small style="color:purple;">Danger Zone</small>
      </a>
    </li>
  </ul>

  <!-- Tab pages. -->
  <div class="tab-content">
    
    <!-- Overview tab. -->
    <div class="tab-pane active noctua_tab_wrapper" id="overview">
      
      <!-- LANDING.md. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Introduction</h3>
        </div>
        <div class="panel-body">
	  {{{landing_html}}}
        </div>
      </div>
    </div>
    
    
    <!-- Create tab. -->
    <div class="tab-pane noctua_tab_wrapper" id="create">
      
      <!-- Aether panel. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create new model from the æther</h3>
        </div>
        <div class="panel-body">
	  
          <p>
            You <strong>must</strong> be logged in to create a new
            model. You will jump directly to the <strong>graph editor
              UI</strong> for the new empty model.
          </p>
	  
          <button id="button_nothing_for_create" type="button"
		  class="btn btn-primary">Create &raquo;</button>
        </div>
      </div>
      
      <!-- fromProcess -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Seed a new model from process and taxon</h3>
        </div>
        <div class="panel-body">
          <p>
            You <strong>must</strong> be logged in to create a new
            model from a taxon. If successful, you will jump directly
            to the <strong>graph editor UI</strong> for the new seeded
            model.
          </p>
          <div class="form-group">
	    <p>
	      <input type="text"
		     class="form-control"
		     id="select_protax_proc_for_create"
		     placeholder="GO process">
	    </p>
	    <p>
	      <input type="text"
		     class="form-control"
		     id="select_protax_tax_for_create"
		     placeholder="Taxon">
	    </p>
          </div>
          <button id="button_protax_for_create" type="button"
		  class="btn btn-primary">Create &raquo;</button>
        </div>
      </div>

      <!-- Form creation panel. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create new model from the æther (prototype form) <span style="color:red;">ALPHA</span></h3>
        </div>
        <div class="panel-body">
          <p>
            You <strong>must</strong> be logged in to create a new
            model. You will jump directly to the <strong>prototype
            form editor UI</strong> for the new empty model.
          </p>
          <button id="create_button_basic" type="submit"
	  	  class="btn btn-primary">Create &raquo;</button>
        </div>
      </div>

    </div>

    <!-- Select tab. -->
    <div class="tab-pane noctua_tab_wrapper" id="select">

      <!-- Selection table test. -->
      <!-- <div class="panel panel-default"> -->
      <!--   <div class="panel-heading"> -->
      <!--     <h3 class="panel-title">Selection table</h3> -->
      <!--   </div> -->
      <!--   <div class="panel-body"> -->

      <!-- 	  <table id="model-selection" class="display" -->
      <!-- 		 width="100%" cellspacing="0"> -->
      <!--       <thead> -->
      <!--         <tr> -->
      <!-- 		<th>Title</th> -->
      <!-- 		<th>Modified</th> -->
      <!-- 		<th>Deprecated</th> -->
      <!-- 		<th>Edit</th> -->
      <!--         </tr> -->
      <!--       </thead> -->
      <!--       <tfoot> -->
      <!--         <tr> -->
      <!-- 		<th>Title</th> -->
      <!-- 		<th>Modified</th> -->
      <!-- 		<th>Deprecated</th> -->
      <!-- 		<th>Edit</th> -->
      <!--         </tr> -->
      <!--       </tfoot> -->
      <!--       <tbody id="model-selection-data"></tbody> -->
      <!-- 	  </table> -->

      <!--   </div> -->
      <!-- </div> -->

      <!-- GOlr selection table test. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Selection table</h3>
        </div>
        <div class="panel-body">

	  <table id="model-golr-selection" class="display"
		 width="100%" cellspacing="0">
            <thead>
              <tr>
		<th>Title</th>
		<th>Contributor(s)</th>
		<th>State</th>
		<th>Date</th>
		<!-- <th>Modified</th> -->
		<!-- <th>Deprecated</th> -->
		<th>Edit</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
		<th>Title</th>
		<th>Contributor(s)</th>
		<th>State</th>
		<th>Date</th>
		<!-- <th>Modified</th> -->
		<!-- <th>Deprecated</th> -->
		<th>Edit</th>
              </tr>
            </tfoot>
            <tbody id="model-golr-selection-data"></tbody>
	  </table>

        </div>
      </div>

      <!-- <\!-- GOlr selection test. -\-> -->
      <!-- <div class="panel panel-default"> -->
      <!--   <div class="panel-heading"> -->
      <!--     <h3 class="panel-title">GOlr selection</h3> -->
      <!--   </div> -->
      <!--   <div class="panel-body"> -->

      <!-- 	  <div id="input-filter-accordion"></div> -->
      <!-- 	  <div id="pager"></div> -->
      <!-- 	  <div id="results"></div> -->

      <!--   </div> -->
      <!-- </div> -->

      <!-- <\!-- Graph editor. -\-> -->
      <!-- <div class="panel panel-default"> -->
      <!--   <div class="panel-heading"> -->
      <!--     <h3 class="panel-title">Graph Editor Interface</h3> -->
      <!--   </div> -->
      <!--   <div class="panel-body"> -->
      <!--     <p> -->
      <!--       Edit or view a model in the <strong>graph editor -->
      <!--       interface</strong> by selecting from the list and clicking -->
      <!--       the button. -->
      <!--     </p> -->
      <!--     <div class="form-group"> -->
      <!--       <\!-- <label for="select_stored_jump">Select by ID</label> -\-> -->
      <!--       <select id="select_stored_jump" class="form-control"> -->
      <!--         <option>n/a</option> -->
      <!--       </select> -->
      <!--     </div> -->
      <!--     <button id="select_stored_jump_button" type="submit" -->
      <!-- 		  class="btn btn-primary">Edit/View &raquo;</button> -->
      <!--   </div> -->
      <!-- </div> -->

      <!-- Browse. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Browse</h3>
        </div>
        <div class="panel-body">
          <p>
            Using AmiGO 2 Labs, search a somewhat recent (once or
            twice a week) scan of the models created using
            Noctua/Minerva.
          </p>
          <p>
            <a type="button" class="btn btn-primary" href="http://amigo2.berkeleybop.org/amigo/search/model_annotation">Search &raquo;</a>
          </p>
        </div>
      </div>

      <!-- Select. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Select</h3>
        </div>
        <div class="panel-body">
          <p>
	    Search current listing of saved models by typing.
          </p>
          <div class="form-group">
            <!-- <label for="select_stored_jump">Select by ID</label> -->
            <input id="input_golr_jump"
		   type="text"
		   class="form-control"
		   placeholder="chris scratch" />
          </div>
          <button id="input_golr_jump_button" type="submit"
		  class="btn btn-primary">Edit/View &raquo;</button>
        </div>
      </div>

      <!-- Form interface. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Form Interface <span style="color:red;">ALPHA</span></h3>
        </div>
        <div class="panel-body">	  
          <p>
            Edit or view a model in the <strong>prototype form
            interface UI</strong> by selecting from the list and
            clicking the button.
          </p>
          <div class="form-group">
            <!-- <label for="select_stored_jump">Select by ID</label> -->
            <select id="select_stored_jump_basic" class="form-control">
              <option>n/a</option>
            </select>
          </div>
          <button id="select_stored_jump_button_basic" type="submit"
		  class="btn btn-primary">Edit/View &raquo;</button>
        </div>
      </div>

    </div>

    <!-- Export tab. -->
    <div class="tab-pane noctua_tab_wrapper" id="export">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Export by ID</h3>
        </div>
        <div class="panel-body">
          <p>
            Export a model by selecting from the list and then
            clicking the button for the export file type that you
            want.
          </p>
          <p>
	    The curent versions saved nightly onto GitHub are <a href="https://github.com/geneontology/noctua-models/tree/master/models">available here</a>.
          </p>
          <div class="form-group">
            <!-- <label for="select_stored_jump">Select by ID</label> -->
            <select id="select_id_for_export" class="form-control">
              <option>n/a</option>
            </select>
          </div>
          <button id="button_id_for_def_export" type="submit" class="btn btn-primary">Export OWL &raquo;</button>
          <button id="button_id_for_gaf_export" type="submit" class="btn btn-primary">Export GAF &raquo;</button>
          <button id="button_id_for_gpd_export" type="submit" class="btn btn-primary">Export GPAD &raquo;</button>
        </div>
      </div>
    </div>

    <!-- Import tab. -->
    <div class="tab-pane noctua_tab_wrapper" id="import">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Load model using ??? format <span style="color:red;">ALPHA</span></h3>
        </div>
        <div class="panel-body">
          <p>
            You do <strong>not</strong> want to be using this right
            now.
          </p>
          <p>
            <textarea class="form-control" id="model_data_input"
		      placeholder="???" rows="3"></textarea>
          </p>
          <p>
            <button id="model_data_button" type="submit"
		    class="btn btn-primary">Load</button>
          </p>
          <!-- </form> -->
        </div>
      </div>

    </div>

    <!-- Universal workbenches tab. -->
    <div class="tab-pane noctua_tab_wrapper" id="workbenches">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Workbenches</h3>
        </div>
        <div class="panel-body">
	  {{^noctua_workbenches_universal}}
          <p>
	    No universal workbenches found.
          </p>
	  {{/noctua_workbenches_universal}}
	  {{#noctua_workbenches_universal}}
          <p>
	    <a target="_blank"
	       href="/workbench/{{{path-id}}}?barista_token={{barista_token}}">{{{menu-name}}}</a>
	  </p>
	  {{/noctua_workbenches_universal}}
        </div>
      </div>

    </div>

    <!-- About tab. -->
    <div class="tab-pane noctua_tab_wrapper" id="about">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">About Noctua</h3>
        </div>
        <div class="panel-body">
          <p>
            <a href="https://github.com/geneontology/noctua">Noctua (clients and Barista)</a>
	    at GitHub.
            <a href="https://github.com/geneontology/minerva">Noctua (Minerva server)</a>
	    at GitHub.
          </p>
          <p>
            <a href="https://github.com/geneontology/noctua/issues">Issue tracker</a>
	    at GitHub.
          </p>
        </div>
      </div>

    </div>

    <!-- Danger Zone tab. -->
    <div class="tab-pane noctua_tab_wrapper" id="danger">

      <!-- Attempting Capella. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Capella Bootstrap</h3>
        </div>
        <div class="panel-body">
          <p>
            Various test methods to look at how capella kick-ins behave.
          </p>
          <p>
            <a href="{{capella_blank}}">(blank)</a>
            <br />
            <a href="{{capella_test}}">(test payload)</a>
          </p>
        </div>
      </div>

      <!-- Cheap-and-dirty debugging wire JSON. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">JSON Debugging</h3>
        </div>
        <div class="panel-body">
          <form action="/seed/json" id="json-seed" role="form" method="POST">
            <p>
              <textarea class="form-control" id="model_json_input"
			name="json-model" placeholder="???" rows="3"></textarea>
            </p>
            <p>
              <button id="model_json_button" type="submit"
		      class="btn btn-primary">Load</button>
            </p>
          </form>
        </div>
      </div>

      <!-- Client admin. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Noctua Client Administration</h3>
        </div>
        <div class="panel-body">
          <p>
            <a type="button" class="btn btn-primary"
	       href="{{noctua_location}}/status">Status &raquo;</a>
          </p>
        </div>
      </div>

      <!-- Barista admin. -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Barista Administration</h3>
        </div>
        <div class="panel-body">
          {{#barista_token}}
          <p>
            <a type="button" class="btn btn-primary"
	       href="{{barista_users}}">Users &raquo;</a>
          </p>
          <p>
            <a type="button" class="btn btn-primary"
	       href="{{barista_location}}/user_info_by_token/123">API &raquo;</a>
          </p>
          <p>
            <a type="button" class="btn btn-primary"
	       href="{{barista_location}}/status">Status &raquo;</a>
          </p>
          {{/barista_token}} {{^barista_token}}
          <p>
            No admin available here--did you remember to login?
            <br /> A configuration error is also possible.
          </p>
          {{/barista_token}}
        </div>
      </div>

    </div>

    <!-- Tabs. -->
  </div>

  <!-- Container. -->
</div>
