{{=<% %>=}}

<div
  ng-app="noctuaBasicApp" ng-strict-di
  ng-controller="NoctuaBasicController as basic">

  <nav id="navbar" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a
          href="<%noctua_landing%>"
          class="navbar-brand branding-logo-<%noctua_context%>">
          &nbsp;
        </a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="navbar-tab active">
            <a
              ng-if="!basic.user_token"
              href="/"
              class="branding-<%noctua_context%>">
              <%noctua_branding%>
            </a>
            <a
              ng-if="basic.user_token"
              href="/?barista_token={{basic.user_token}}"
              class="branding-<%noctua_context%>">
              <%noctua_branding%>
            </a>
          </li>

          <li id="about_trigger" class="navbar-tab">
            <a
              href="<%noctua_landing%>#about">
                About
            </a>
          </li>
        </ul>

        <div class="nav navbar-right">
          <a
            ng-if="!basic.user_token"
            id="action_barista_login"
            class="btn btn-default navbar-btn"
            href="<%barista_login%>"
            title="">
            Login
          </a>

          <span
            ng-if="basic.user_token"
            class="user_name_info">
            <span id="user_name_info">
            </span>
            &nbsp;&nbsp;
            <a
              id="action_barista_logout"
              class="btn btn-default navbar-btn"
              href="<%barista_logout%>"
              title="">
              Logout
              &nbsp;&nbsp;
            </a>
          </span>

          &nbsp;
        </div>

      </div>
    </div>
  </nav>

  <div id="noctua-app"
    style="margin:0 15px 0 15px;">

    <div
      class="container-fluid"
      ng-if="!basic.response_model">
      <br>
      <hr>
      <h1 class="text-center">Loading Model...</h1>
      <hr>
    </div>

    <div
      class="container-fluid"
      ng-if="basic.response_model">
      <div class="panel panel-default">
        <div
          ng-if="!basic.modelSubject"
          class="panel-heading">
          <h4 class="text-center">
          Select a Disease
          </h4>
        </div>
        <div class="panel-body">
          <div
            ng-hide="basic.modelSubject"
            class="row">
            <div
              class="col-xs-9 col-sm-10">
              <select
                autofocus
                class="form-control"
                id="select_subject_default"
                placeholder="Pick a Disease...">
              </select>
            </div>
            <div
              class="col-xs-3 col-sm-2">
              <button
                ng-disabled="!(basic.newSubject)"
                type="button" class="btn btn-primary xbtn-sm" ng-click="basic.saveEditedSubject()">
                Set Disease
              </button>
            </div>
          </div>

          <div
            ng-if="basic.modelSubject"
            class="row">
            <div class="col-xs-3">
              Disease:&nbsp;
              <a
                target="_blank"
                href="http://monarchinitiative.org/resolve/{{basic.modelSubject}}">
                {{basic.modelSubjectLabel[0]}}&nbsp;
                {{basic.modelSubjectLabel[0] === basic.modelSubjectLabel[1] ? '' : basic.modelSubjectLabel[1]}}
              </a>
            </div>

            <div
              ng-if="!basic.editingTitle"
              class="col-xs-7">
              <i><b>{{basic.modelTitle}}</b></i>&nbsp;({{basic.modelType}})
            </div>
            <div
              ng-if="!basic.editingTitle && basic.user_token"
              class="col-xs-2">
              <button
                type="button"
                class="btn btn-primary btn-sm pull-right"
                style="margin:-5px;"
                ng-click="basic.editTitle()">
                Change Title
              </button>
            </div>
            <div
              class="col-xs-9"
              ng-if="basic.editingTitle">
              <input
                autofocus
                ng-model="basic.newTitle"
                type="text"
                class="form-control"
                id="modelTitle"
                placeholder="Title your model">
              <button
                type="button"
                class="btn btn-warning btn-sm pull-right"
                style="margin:10px;"
                ng-disabled="!(basic.modelTitle && basic.modelTitle.length > 0)"
                ng-click="basic.cancelEditTitle()">
                Cancel
              </button>
              <button
                ng-disabled="!(basic.newTitle && basic.newTitle.length > 0)"
                type="button" class="btn btn-primary btn-sm pull-right"
                style="margin:10px;"
                ng-click="basic.saveEditedTitle()">
                Set Title
              </button>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="basic.modelSubject">

        <div
          ng-if="basic.USE_UI_GRID && basic.user_token"
          class="row">
          <div
            ng-if="basic.user_token"
            class="col-xs-11">
            &nbsp;
          </div>
          <div
            class="col-xs-1">
            <button
              type="button"
              name="Add Association"
              title="Add Association"
              ng-disabled="basic.editing_row"
              class="pull-rightx btn btn-secondary xbtn-xs btn-compact" ng-click="basic.addRow()">
              <i class="glyphicon glyphicon-plus xglyphicon-fw"></i>
            </button>
          </div>
        </div>

        <div
          ng-if="basic.USE_UI_GRID"
          class="row">

          <h6>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{basic.gridApi.cellNav.getFocusedCell().row.entity.phenotype}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{basic.gridApi.cellNav.getFocusedCell().col.colDef.name}}
          </h6>
          <div class="col-xs-12">
            <div
              id="grid1"
              ui-grid="basic.gridOptions"
              ui-grid-edit
              xui-grid-row-edit
              ui-grid-cellNav
              ui-grid-resize-columns
              ui-grid-auto-resize
              class="grid"
              style="margin:0;padding:0;border:1px solid purple;">
            </div>
          </div>
        </div>

        <div
          ng-if="!basic.USE_UI_GRID"
          class="row">

          <div
            class="col-xs-12"
            xng-if="basic.grid_model.length > 0">
            <table
              style="min-width:800px;overflow-x:scroll;"
              class="table table-bordered association-table">

              <thead>
                <tr>
                  <th colspan="4">Phenotype</th>
                  <th colspan="4">Age of Onset</th>
                  <th colspan="4" style="width:190px;">Description of phenotype</th>
                  <th colspan="8">Evidence</th>
                  <th style="width:40px;"
                    ng-if="basic.user_token">
                    <button
                      type="button"
                      name="Add Association"
                      title="Add Association"
                      ng-disabled="basic.editing_row"
                      class="btn btn-secondary xbtn-xs btn-block btn-compact" ng-click="basic.addRow()">
                      <i class="glyphicon glyphicon-plus"></i>
                    </button>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr ng-repeat="(entryIndex, entry) in basic.grid_model | orderBy:'index' track by $index">
                  <td colspan="4"
                    id="scroll_anchor_{{$index}}"
                    ng-hide="basic.editing_row !== entry">
                    <div class="row">
                      <div class="col-xs-12">
                        <select
                          autofocus
                          class="form-control"
                          id="select_phenotype_{{$index}}"
                          placeholder="Pick a Phenotype...">
                        </select>
                      </div>
                    </div>
                  </td>
                  <td colspan="4"
                    ng-if="basic.editing_row !== entry">
                    <a
                      class="non-editable-cell"
                      target="_blank"
                      href="http://monarchinitiative.org/resolve/{{entry.phenotype_id}}">
                        {{entry.phenotype[0]}}
                        <div>{{entry.phenotype[1]}}</div>
                    </a>
                  </td>

                  <td colspan="4"
                    ng-hide="basic.editing_row !== entry">
                    <div class="row">
                      <div class="col-xs-12">
                        <select
                          class="form-control"
                          id="select_ageofonset_{{$index}}"
                          placeholder="Pick an Age of Onset...">
                        </select>
                      </div>
                    </div>
                  </td>
                  <td colspan="4"
                    ng-if="basic.editing_row !== entry">
                    <a
                      class="non-editable-cell"
                      target="_blank"
                      href="http://monarchinitiative.org/resolve/{{entry.ageofonset_id}}">
                        {{entry.ageofonset[0]}}
                        <div>{{entry.ageofonset[1]}}</div>
                    </a>
                  </td>

                  <td colspan="4"
                    ng-if="basic.editing_row === entry">
                    <textarea
                      class="form-control"
                      rows="2"
                      ng-model="basic.selected_description">
                    </textarea>
                  </td>

                  <td colspan="4"
                    ng-if="basic.editing_row !== entry">
                    {{entry.description}}
                  </td>

                  <td colspan="8"
                    ng-class="basic.editing_row === entry ? 'evidence-row-editing' : 'evidence-row'">
                    <div
                      ng-if="basic.editing_row === entry">

                      <div
                        ng-repeat="ev_ref in entry.evidence_metadata track by $index">
                        <div class="row">
                          <div class="col-xs-11 evidence-selection">
                            <select
                              class="form-control"
                              id="{{ev_ref.htmlid}}_{{entryIndex}}_{{$index}}"
                              placeholder="Select evidence..." ng-model="ev_ref.ev">
                            </select>
                          </div>
                          <button
                            ng-if="$first"
                            class="xcol-xs-1 btn btn-secondary btn-xs xbtn-compact"
                            style="margin:0;margin-left:-10px;"
                            ng-click="basic.add_ev(basic.selected_evidence_metadata, entryIndex)">
                            <i class="glyphicon glyphicon-plus"></i>
                          </button>
                        </div>

                        <div
                          ng-repeat="ref in ev_ref.ref_list">
                          <div
                            class="row"
                            style="padding:0;">
                            <label
                              class="col-xs-2"
                              style="font-size:0.9em;font-weight:400;color:#555;margin:2px -20px 2px 20px;padding:0;"
                              for="{{ev_ref.htmlid + ref.htmlid}}_{{entryIndex}}_{{$index}}">
                              Ref
                            </label>
                            <div class="col-xs-9">
                              <input
                                ng-disabled="!ev_ref.ev"
                                class="form-control"
                                style="font-size:0.9em;font-weight:400;color:#555;"
                                type="text"
                                id="{{ev_ref.htmlid + ref.htmlid}}_{{entryIndex}}_{{$index}}"
                                placeholder="Enter supporting reference (e.g., PMID:1234)"
                                ng-model="ref.ref">
                              </input>
                            </div>
                            <button
                              type="submit"
                              ng-if="$first"
                              class="xcol-xs-1 btn btn-secondary btn-xs xbtn-compact"
                              style="margin:0;margin-left:-10px;"
                              ng-click="basic.add_ref(ev_ref)">
                              <i class="glyphicon glyphicon-plus"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      ng-if="basic.editing_row !== entry">
                      <div
                        ng-repeat="ev_ref in entry.evidence_metadata track by $index">
                        <a
                          class="non-editable-cell"
                          target="_blank"
                          href="http://purl.obolibrary.org/obo/{{basic.convertECOId(ev_ref.id)}}">
                          {{ev_ref.id}}
                          <div>{{ev_ref.label}}</div>
                        </a>

                        <ul
                          style="list-style-position: inside;list-style-type:square;margin:0 5px;padding:0;"
                          ng-repeat="ref in ev_ref.ref_list">
                          <li>{{ref.ref}}</li>
                        </ul>
                      </div>
                    </div>
                  </td>

                  <td
                    ng-if="basic.user_token && basic.editing_row !== entry"
                    class="text-center action-row">
                    <button
                      type="button"
                      title="Edit Association"
                      class="btn btn-default xbtn-xs btn-block btn-compact"
                      ng-disabled="basic.editing_row"
                      ng-click="basic.editRow(entry, $index, false)">
                      <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button
                      ng-disabled="basic.editing_row"
                      type="button"
                      title="Duplicate Association"
                      class="btn btn-default xbtn-xs btn-block btn-compact" ng-click="basic.duplicateRow(entry, $index)">
                      <i class="glyphicon glyphicon-duplicate"></i>
                    </button>
                    <button
                      type="button"
                      title="Delete Association"
                      ng-disabled="basic.editing_row"
                      class="btn btn-warning xbtn-xs btn-block btn-compact"
                      ng-click="basic.deleteRow(entry.disease_node_id, entry.phenotype_node_id, entry.ageofonset_node_id)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </td>

                  <td
                    ng-if="basic.user_token && basic.editing_row === entry"
                    class="text-center action-row">
                    <button
                      title="Save Association"
                      type="button" class="btn btn-success xbtn-xs btn-block btn-compact"
                      ng-disabled="!basic.isValidAssociation()"
                      ng-click="basic.saveEditedRow()">
                      <i class="glyphicon glyphicon-save"></i>
                    </button>
                    <button
                      title="Cancel Editing"
                      type="button"
                      class="btn btn-warning xbtn-xs btn-block btn-compact"
                      ng-click="basic.cancelEditRow($index)">
                      <i class="glyphicon glyphicon-ban-circle"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div style="height:200px;">
        </div>
      </div>
  </div>
</div>


<script type="text/ng-template" id="uiJQSelect">
  <div
    ng-if="false"
    style="background:lightyellow;position:fixed !important;z-index:1000;top:0;right:50px;width:300px;height:200px;padding:10px;">
    <pre>modelcol: MODEL_COL_FIELD</pre>
    <pre>col: COL_FIELD</pre>
    <pre>*modelcol: {{MODEL_COL_FIELD}}</pre>
    <pre>*col: {{COL_FIELD}}</pre>
  </div>
  <select
    autofocus
    class="form-control"
    id="select_phenotype_{{row.entity.rowIndex}}"
    placeholder="Pick a Phenotype...">
  </select>
</script>


<script type="text/ng-template" id="uigridActionCell">
  <div
    class="ui-grid-cell-contents"
    title="TOOLTIP">
    <div
      ng-if="grid.appScope.basic.user_token && grid.appScope.basic.editing_row !== row.entity"
      class="text-center action-row">
      <button
        ng-disabled="grid.appScope.basic.editing_row"
        type="button"
        title="Edit Association"
        class="btn btn-default btn-compact"
        ng-click="grid.appScope.basic.editRow(row.entity, row.entity.rowIndex, false)">
        <i class="glyphicon glyphicon-pencil glyphicon-fw"></i>
      </button>
      <button
        ng-disabled="grid.appScope.basic.editing_row"
        type="button"
        title="Duplicate Association"
        class="btn btn-default btn-compact"
        ng-click="grid.appScope.basic.duplicateRow(row.entity, row.entity.rowIndex)">
        <i class="glyphicon glyphicon-duplicate glyphicon-fw"></i>
      </button>
      <button
        type="button"
        title="Delete Association"
        ng-disabled="grid.appScope.basic.editing_row"
        class="btn btn-warning btn-compact"
        ng-click="grid.appScope.basic.deleteRow(row.entity.disease_node_id, row.entity.phenotype_node_id, row.entity.ageofonset_node_id)">
        <i class="glyphicon glyphicon-trash glyphicon-fw"></i>
      </button>
    </div>

    <div
      ng-if="grid.appScope.basic.user_token && grid.appScope.basic.editing_row === row.entity"
      class="text-center action-row">
      <button
        title="Save Association"
        type="button"
        class="btn btn-success btn-compact"
        ng-disabled="!grid.appScope.basic.isValidAssociation()"
        ng-click="grid.appScope.basic.saveEditedRow()">
        <i class="glyphicon glyphicon-save glyphicon-fw"></i>
      </button>
      <button
        title="Cancel Editing"
        type="button"
        class="btn btn-warning btn-compact"
        ng-click="grid.appScope.basic.cancelEditRow(row.entity.rowIndex)">
        <i class="glyphicon glyphicon-ban-circle glyphicon-fw"></i>
      </button>
    </div>
  </div>
</script>






