<!-- Main "app". -->
<div class="container">

  <div class="header text-center">
    <h3>Function Companion for {{model_id}}</h3>
  </div>

  <div>
    <p>
      Welcome to the Function Companion workbench. Please make sure
      that you are <strong>logged in</strong>.
    </p>
    <p>
      For any selected annotations, the <strong>[Import]</strong>
      button will add: the <strong>direct
	annotation</strong>, <strong>gene product (or
	bioentity)</strong>, <strong>evidence</strong>
      and <strong>with</strong> fields to the model that you arrived
      from, compacting them and making a best effort to model them in
      a sensible way in Noctua. It will <strong>only process</strong>
      classes in the <strong>function</strong> aspect.
    </p>
    <!-- <p> -->
    <!--   Detailed description: -->
    <!--   https://github.com/geneontology/noctua/issues/170#issuecomment-134414048 -->
    <!-- </p> -->
  </div>
  
  <!-- AmiGO widgets. -->
  <div class="panel panel-default">
    <div class="panel-body">
      
      <div id="results-area" class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	  <div>
	    <h4>Filter results</h4>
	    
	    <div id="input-filter-accordion">
	      Loading...
	    </div>
	    
	  </div>	  
	</div>
	
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
	  
	  <div id="pager">
	  </div>
	  <div id="results">
	    pending...
	  </div>
	</div>
	
      </div>
      
    </div>
  </div>
  
  <!-- Container. -->
</div>
